// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home_one{
	    width:100%; 
	    height:100%;
	    background-image: url("celebration.jpg");
	    background-size: cover;
}

#home_two{
	background-color:#00171F;
}

body{
	margin-top: 70px;
	background-color:#00171F;
}
.navbar {
	margin: 0px;
}
.navbar-brand{
	font-family: 'Montez', cursive;
	font-size: 25px;
}
a.navbar-brand{
	padding-right: 0;
}

.panel-body{
	padding-top:0;
}
.panel-heading{
	padding-bottom:0;
	color: #F2F2F2;
}
.panel-title{
	font-size:50px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: 'Pacifico', cursive;
	color: #F2F2F2;
}

li a{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.row {
	margin: 0px;
}


.col-md-4{
	padding:0;
}

.users_info{
	list-style-type: none;
}
