<div class="categories_head panel panel-default col-md-10 col-md-offset-1">
  <div class="panel-body">
    Categories
  </div>
</div>

<div class="categories_container col-md-10 col-md-offset-1">
    <% @categories.each do |category| %>
    <%= link_to category do %>
    <div class="<%= category.category %> panel panel-default col-md-4">
    <div class="categories panel-body">
        <%= category.category %>
        </div>
        </div>
    <% end %>
    <% end %>
    </div>
